sub-menu {
  margin: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 99999;
}
nav ul.corners li {
  list-style: none;
  text-transform: uppercase;
}
nav ul.corners > li:hover {
  cursor: pointer;
}
nav ul.corners li a {
  text-decoration: none;
}
nav ul.corners li{
  pointer-events: initial;
}
nav ul.corners li.has-submenu:hover .sub-menu {
  display: block;
}
nav ul.corners > li {
  position: absolute;
}
nav ul.corners > li:nth-child(1), nav ul.corners > li:nth-child(2), nav ul.corners > li.close {
  top: 20px;
}
nav ul.corners > li:nth-child(1), nav ul.corners > li:nth-child(3) {
  left: 20px;
}
nav ul.corners > li:nth-child(2), nav ul.corners > li:nth-child(4), nav ul.corners > li.close {
  right: 20px;
  text-align: right;
}
nav ul.corners > li:nth-child(3), nav ul.corners > li:nth-child(4){
  bottom: 20px;
}
.wrapper {
  position: relative;
}
.rotate {
  position: absolute;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

nav ul.corners > li:nth-child(3) ul, nav ul.corners > li:nth-child(4) ul {
  margin-bottom: 2rem;
}

nav ul.corners > li:nth-child(3) a {
  bottom: 0;
}

nav ul.corners > li:nth-child(4) a {
  right: 0;
  bottom: 0;
}
nav ul.corners > li .sub-menu {
  display: none;
}
